ollama
openai
requests
datasets
pandas
scikit-learn
torch
torchvision
torchaudio --index-url https://download.pytorch.org/whl/cu118
bitsandbytes
langchain
sentence-transformers
faiss-cpu
langchain-community
ragatouille
accelerate
xformers==0.0.29.post3
peft
trl
triton
cut_cross_entropy
sentencepiece
protobuf
huggingface_hub
hf_transfer
unsloth
unsloth_zoo